# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Virtual environments
venv/
env/
.venv/

# VS Code settings
.vscode/

# Logs and databases
*.log
*.sqlite3
*.db

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Other
*.pyc
